[Unit]
Description=Trunk Tagger Pi Dashboard
After=network.target multi-user.target gpm.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/home/dietpi/tag-tapper-pi/start.sh
WorkingDirectory=/home/dietpi/tag-tapper-pi
User=root
Group=root

# Environment for Textual / framebuffer
Environment="TERM=linux"
Environment="COLORTERM=truecolor"
Environment="TEXTUAL_DRIVER=textual.driver.linux"
Environment="TEXTUAL_COLOR_SYSTEM=truecolor"
# Optionally set the touch device path here:
# Environment="TEXTUAL_EVDEV_PATH=/dev/input/by-path/platform-3f204000.spi-cs-1-event"

StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

